<div>
	<h4>
		{{ 'Company Details' | translate }}
	</h4>
	<div>
		<mat-form-field class="w-100">
	    	<input matInput placeholder="{{ 'Company Name (Arabic)' | translate }}" [(ngModel)]="name_ar">
	    </mat-form-field>
	</div>

	<div>		
		<mat-form-field class="w-100">
	    	<input matInput placeholder="{{ 'Company Name (English)' | translate }}" [(ngModel)]="name_en">
	    </mat-form-field>
	</div>

	<div>
		<input class="ng-hide" id="input-file-id" type="file"  (change)="uploadFile($event)" />
	</div>
	<div class="mt-3">
		  <button mat-raised-button color="primary" (click)="onSaveCompany()">{{ 'Save' | translate }}</button>
	</div>
</div>