<button mat-raised-button color="primary" (click)="onAddEmployee()">{{ 'Add Employee' | translate }}</button>

<div class="user-list-container mt-5">
	<table id="contentToConvert" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

	  <!--- Note that these columns can be defined in any order.
	        The actual rendered columns are set as a property on the row definition" -->

	  <ng-container matColumnDef="id">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'No.' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
	  </ng-container>

	  <ng-container matColumnDef="name_ar">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name (Arabic)' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.name_ar}} </td>
	  </ng-container>

	  <ng-container matColumnDef="name_en">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name (English)' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.name_en}} </td>
	  </ng-container>

	  <ng-container matColumnDef="gender">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Gender' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.gender_name}} </td>
	  </ng-container>

	  <ng-container matColumnDef="nationality">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Nationality' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
	  </ng-container>

	  <ng-container matColumnDef="id_no">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ID (NO)' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.id_no}} </td>
	  </ng-container>

	  <ng-container matColumnDef="menu">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
	    <td mat-cell *matCellDef="let element">                 
	    	<mat-menu #appMenu="matMenu">
			  <button mat-menu-item (click)="onDelete(element, i)">{{ 'Delete' | translate }}</button>
			  <button mat-menu-item (click)="onEdit(element, i)">{{ 'Edit' | translate }}</button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="appMenu">
			  <mat-icon>more_vert</mat-icon>
			</button>
        </td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>