.add-container
{
	display: flex;
	cursor: pointer;
}

.add-container i
{
	margin-top: 8px;
	margin-left: 8px;
	display: none;
}

.add-province-container i
{
	margin-top: 4px;
}

.add-container:hover i
{
	display: block;
}