<div class="row">
<!-- 	<div class="col-6">
		<button mat-raised-button color="primary" (click)="onAddProvince()">{{ 'Add Province' | translate }}</button>
		<button mat-raised-button color="primary" class="ml-3" (click)="onAddCity()">{{ 'Add City' | translate }}</button>
	</div> -->
	<div class="col-6">
		<button mat-raised-button color="primary" (click)="onAddCountry()">{{ 'Add Country' | translate }}</button>

		<div class="country-list-container mt-4 mat-elevation-z8 p-3">
			<div *ngFor="let country of countries" class="country-container">
				<div class="add-container">
					<h4> {{country.name_en}} ({{country.name_ar}}) </h4>
					<i class="fa fa-plus-circle" aria-hidden="true" (click)="onAddProvince(country.id)"></i>
				</div>

				 <div class="province-list-container">
				 	<div class="province-container" *ngFor="let province of country.provinces">

						<div class="add-container add-province-container">
				 			<h5 class="ml-3"> {{province.name_en}} ({{province.name_ar}}) </h5>
							<i class="fa fa-plus-circle" aria-hidden="true" (click)="onAddCity(province.id)"></i>
						</div>

				 		<div class="city-list-container">
				 			<div class="city-container" *ngFor="let city of province.cities">
				 				<h6 class="ml-5"> {{city.name_en}} ({{city.name_ar}}) </h6>
				 			</div>
				 		</div>
				 	</div>
				 </div>
			</div>
		</div>
	</div>
</div>
