<div>
	<h4>
		{{ 'Customer Details' | translate }}
	</h4>

	<div class="fields" *ngIf="vendor">
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name (Arabic)' | translate }}" [(ngModel)]="vendor.name_ar" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Type' | translate }}" [(ngModel)]="vendor.type_name" disabled>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name (English)' | translate }}" [(ngModel)]="vendor.name_en" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Phone' | translate }}" [(ngModel)]="vendor.phone" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Fax' | translate }}" [(ngModel)]="vendor.fax" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile' | translate }}" [(ngModel)]="vendor.mobile" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Web' | translate }}" [(ngModel)]="vendor.web" disabled>
			    </mat-form-field>
			</div>
		</div>

		<h6>
			{{ 'Address' | translate }}
		</h6>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
					<input matInput placeholder="{{ 'Country' | translate }}" [(ngModel)]="vendor.country_name_en" disabled>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
					<input matInput placeholder="{{ 'Province' | translate }}" [(ngModel)]="vendor.province_name_en" disabled>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
					<input matInput placeholder="{{ 'City' | translate }}" [(ngModel)]="vendor.city_name_en" disabled>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Address' | translate }}" [(ngModel)]="vendor.address" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile' | translate }} 1" [(ngModel)]="vendor.mobile1" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile' | translate }} 2" [(ngModel)]="vendor.mobile2" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Company Email' | translate }}" [(ngModel)]="vendor.company_email" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Co Representatiave' | translate }}" [(ngModel)]="vendor.co_representative" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Email' | translate }}" [(ngModel)]="vendor.email" disabled>
			    </mat-form-field>
			</div>
		</div>


		<h6>
			{{ 'Bank Acc Details' | translate }}
		</h6>

		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'iPAN No' | translate }}" [(ngModel)]="vendor.ipan_no" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Bank Acc' | translate }}" [(ngModel)]="vendor.bank_acc" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Bank' | translate }}" [(ngModel)]="vendor.bank" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Branch' | translate }}" [(ngModel)]="vendor.branch" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Customer Classification' | translate }}" [(ngModel)]="vendor.vendor_classification" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
			    <mat-form-field>
				  <input matInput placeholder="{{ 'First Relation Date' | translate }}" [(ngModel)]="first_relation" disabled>
				</mat-form-field>
			</div>
			<div class="col-4">
			    <mat-form-field>
				  <input matInput placeholder="{{ 'Last Relation Date' | translate }}" [(ngModel)]="last_relation" disabled>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Remarks' | translate }}" [(ngModel)]="vendor.remarks" disabled>
			    </mat-form-field>
			</div>
		</div>
	</div>
</div>