<div [@routerTransition]>

    <div class="row">
        <div class="col-lg-6">

            <div>

                <label>Company</label>
                <select class="form-control" [(ngModel)]="selectedCompany" (change)="onCompanySelected()">
                    <option *ngFor="let company of companies" [ngValue]="company.objectId">{{company.title}}</option>
                </select>

                <label>Department</label>
                <select class="form-control" [(ngModel)]="selectedDepartment" (change)="onDepartmentSelected()">
                    <option *ngFor="let department of departments" [ngValue]="department.objectId">{{department.title}}</option>
                </select>


                <label>Projects</label>
                <select class="form-control" [(ngModel)]="selectedProject" (change)="onProjectSelected()">
                    <option *ngFor="let project of projects" [ngValue]="project">{{project.title}}</option>
                </select>
            </div>

            <div class="divider mt-5 mb-5">
            </div>
        </div>
    </div>

    <div *ngIf="selectedProject">

        <div class="row">
            <div class="col-lg-6">
                <h5>
                    Project Details
                </h5>

                <label>Project Status</label>

                <select class="form-control" [(ngModel)]="projectStatus">
                    <option value="0">Pending</option>
                    <option value="1">In Progress</option>
                    <option value="2">Finished</option>
                </select>

                <fieldset class="form-group mt-2">
                    <label>Next Stage</label>
                    <input class="form-control" [(ngModel)]="nextStage" >
                </fieldset>

                <button class="btn btn-secondary" (click)="onUpdateProject()">Update Project</button>
            </div>
            <div class="col-lg-6">
                <h5 class="label-comment">
                   Comments
                </h5>

                <div>
                    <div class="alert alert-success" *ngFor="let comment of comments">
                        {{comment}}
                    </div>
                </div>

                <fieldset class="form-group mt-2">
                    <input class="form-control" [(ngModel)]="comment" >
                </fieldset>

                <button class="btn btn-secondary" (click)="onAddComment()">Add Comment</button>

            </div>
        </div>
    </div>
</div>
