<button mat-raised-button color="primary" (click)="onAddVendor()">{{ 'Add Vendor' | translate }}</button>

<div class="user-list-container mt-5">
	<table id="contentToConvert" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

	  <!--- Note that these columns can be defined in any order.
	        The actual rendered columns are set as a property on the row definition" -->

	  <ng-container matColumnDef="id">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'No.' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
	  </ng-container>

	  <ng-container matColumnDef="name_en">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.name_en}} </td>
	  </ng-container>

	  <ng-container matColumnDef="type_name">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Type' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.type_name}} </td>
	  </ng-container>

	  <ng-container matColumnDef="country_name_en">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Country' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.country_name_en}} </td>
	  </ng-container>

	  <ng-container matColumnDef="province_name_en">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Province' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.province_name_en}} </td>
	  </ng-container>

	  <ng-container matColumnDef="city_name_en">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'City' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.city_name_en}} </td>
	  </ng-container>

	  <ng-container matColumnDef="address">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Address' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
	  </ng-container>

	  <ng-container matColumnDef="phone">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Phone' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
	  </ng-container>

	  <ng-container matColumnDef="mobile">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Mobile' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
	  </ng-container>

	  <ng-container matColumnDef="email">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Email' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
	  </ng-container>

	  <ng-container matColumnDef="menu">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
	    <td mat-cell *matCellDef="let element">                 
	    	<mat-menu #appMenu="matMenu">
			  <button mat-menu-item (click)="onDetails(element, i)">{{ 'Details' | translate }}</button>
			  <button mat-menu-item (click)="onEdit(element, i)">{{ 'Edit' | translate }}</button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="appMenu">
			  <mat-icon>more_vert</mat-icon>
			</button>
        </td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>

<div class="mt-4">
	<button mat-raised-button color="primary" (click)="onPrint()" class="mr-3">{{ 'Print' | translate }}</button>
	<button mat-raised-button color="primary" (click)="onExportPDF()">{{ 'Export PDF' | translate }}</button>
</div>