<button mat-raised-button color="primary" (click)="onAddProject()">{{ 'Add Customer' | translate }}</button>

<div class="user-list-container mt-5">
	<table id="contentToConvert" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

	  <!--- Note that these columns can be defined in any order.
	        The actual rendered columns are set as a property on the row definition" -->

	  <ng-container matColumnDef="id">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'No.' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
	  </ng-container>

	  <ng-container matColumnDef="name">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
	  </ng-container>

	  <ng-container matColumnDef="start_date_format">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Start Date' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.start_date_format}} </td>
	  </ng-container>

	  <ng-container matColumnDef="end_date_format">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'End Date' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.end_date_format}} </td>
	  </ng-container>

	  <ng-container matColumnDef="customer">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Customer' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
	  </ng-container>

	  <ng-container matColumnDef="engineer">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Engineer' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.engineer}} </td>
	  </ng-container>

	  <ng-container matColumnDef="consultant">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Consultant' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.consultant}} </td>
	  </ng-container>

	  <ng-container matColumnDef="location">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Location' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
	  </ng-container>

	  <ng-container matColumnDef="status_name">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Status' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.status_name}} </td>
	  </ng-container>

	  <ng-container matColumnDef="stage_name">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Stage' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.stage_name}} </td>
	  </ng-container>

	  <ng-container matColumnDef="menu">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
	    <td mat-cell *matCellDef="let element">                 
	    	<mat-menu #appMenu="matMenu">
			  <button mat-menu-item (click)="onDetails(element, i)">{{ 'Details' | translate }}</button>
			  <button mat-menu-item (click)="onEdit(element, i)">{{ 'Edit' | translate }}</button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="appMenu">
			  <mat-icon>more_vert</mat-icon>
			</button>
        </td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>