<div>
	<h4>
		{{ 'Engineer Edit' | translate }}
	</h4>

	<div class="fields">
		<div class="row">
			<div class="col-8">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name' | translate }}" [(ngModel)]="name">
			    </mat-form-field>
			</div>
		</div>
	</div>


	<div class="error-panel" *ngIf="errorMsg">
		<p>* {{ errorMsg | translate}}</p>
	</div>

	<div class="mt-3">
		  <button mat-raised-button color="primary" (click)="onSaveEngineer()">{{ 'Save' | translate }}</button>
	</div>
</div>