<div>
	<h4>
		{{ 'Department Details' | translate }}
	</h4>

	<div>
		<div class="row">
			<div class="col-8">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name' | translate }}" [(ngModel)]="name">
			    </mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-8">
				<mat-form-field>
				  	<mat-label>{{ 'Company' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="company">
					    <mat-option *ngFor="let company of companies" [value]="company.id">				    	
					      	<img src="{{company.logo_url}}"> {{company.company_name_e}} ({{company.company_name_a}})
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
		</div>		
	</div>

	<div class="error-panel" *ngIf="errorMsg">
		<p>* {{ errorMsg | translate}}</p>
	</div>

	<div class="mt-3">
		  <button mat-raised-button color="primary" (click)="onSaveDepartment()">{{ 'Save' | translate }}</button>
	</div>
</div>