<div>
	<h4>
		{{ 'Employee Details' | translate }}
	</h4>

	<div class="fields">
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name (Arabic)' | translate }}" [(ngModel)]="name_ar">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'Gender' | translate}}</mat-label>
				  	<mat-select [(ngModel)]="gender">
					    <mat-option *ngFor="let gender of genders" [value]="gender.id">
					      	{{gender.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Nationality' | translate }}" [(ngModel)]="nationality">
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name (English)' | translate }}" [(ngModel)]="name_en">
			    </mat-form-field>
			</div>

			<div class="col-4">
			    <mat-form-field>
				  <input matInput [matDatepicker]="dobPicker" placeholder="{{ 'DOB' | translate }}" [(ngModel)]="dob">
				  <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
				  <mat-datepicker #dobPicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Degree' | translate }}" [(ngModel)]="degree">
			    </mat-form-field>
			</div>

		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'University' | translate}}</mat-label>
				  	<mat-select [(ngModel)]="university">
					    <mat-option *ngFor="let university of universities" [value]="university.id">
					      	{{university.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'Job' | translate}}</mat-label>
				  	<mat-select [(ngModel)]="job">
					    <mat-option *ngFor="let job of jobs" [value]="job.id">
					      	{{job.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Job Type' | translate }}" [(ngModel)]="job_type">
			    </mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile No' | translate }}" [(ngModel)]="mobile_no">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Email' | translate }}" [(ngModel)]="email">
			    </mat-form-field>
			</div>

		</div>

		<h6>
			{{ 'Address' | translate }}
		</h6>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'Country' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="country">
					    <mat-option *ngFor="let country of countries" [value]="country.id">
					      	{{country.name_en}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'Province' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="province">
					    <mat-option *ngFor="let province of provinces" [value]="province.id">
					      	{{province.name_en}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'City' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="city">
					    <mat-option *ngFor="let city of cities" [value]="city.id">
					      	{{city.name_en}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Aria' | translate }}" [(ngModel)]="aria">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'House No' | translate }} 1" [(ngModel)]="house_no">
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile No' | translate }}" [(ngModel)]="mobile_no1">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile No' | translate }}" [(ngModel)]="mobile_no2">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Office Email' | translate }}" [(ngModel)]="office_email">
			    </mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'id No' | translate }}" [(ngModel)]="id_no">
			    </mat-form-field>
			</div>
			<div class="col-4">
			    <mat-form-field>
				  <input matInput [matDatepicker]="expDatePicker" placeholder="{{ 'Exp Date' | translate }}" [(ngModel)]="exp_date">
				  <mat-datepicker-toggle matSuffix [for]="expDatePicker"></mat-datepicker-toggle>
				  <mat-datepicker #expDatePicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Passport No' | translate }}" [(ngModel)]="passport_no">
			    </mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
			    <mat-form-field>
				  <input matInput [matDatepicker]="passportExpPicker" placeholder="{{ 'Passport Exp Date' | translate }}" [(ngModel)]="passport_exp_date">
				  <mat-datepicker-toggle matSuffix [for]="passportExpPicker"></mat-datepicker-toggle>
				  <mat-datepicker #passportExpPicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Insurance No' | translate }}" [(ngModel)]="insurance_no">
			    </mat-form-field>
			</div>
			<div class="col-4">
			    <mat-form-field>
				  <input matInput [matDatepicker]="insuranceExpPicker" placeholder="{{ 'Insurane Exp Date' | translate }}" [(ngModel)]="insurance_exp_date">
				  <mat-datepicker-toggle matSuffix [for]="insuranceExpPicker"></mat-datepicker-toggle>
				  <mat-datepicker #insuranceExpPicker></mat-datepicker>
				</mat-form-field>
			</div>
		</div>


		<h6>
			{{ 'Bank Acc Details' | translate }}
		</h6>

		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'iPAN No' | translate }}" [(ngModel)]="ipan_no">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Acc No' | translate }}" [(ngModel)]="acc_no">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'Bank' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="bank">
					    <mat-option *ngFor="let bank of banks" [value]="bank.id">
					      	{{bank.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Branch' | translate }}" [(ngModel)]="branch">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Basic Salary' | translate }}" [(ngModel)]="basic_salary">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Total Salary' | translate }}" [(ngModel)]="total_salary">
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
			    <mat-form-field>
				  <input matInput [matDatepicker]="startPicker" placeholder="{{ 'Start Date' | translate }}" [(ngModel)]="start_date">
				  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
				  <mat-datepicker #startPicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-4">
			    <mat-form-field>
				  <input matInput [matDatepicker]="endPicker" placeholder="{{ 'End Date' | translate }}" [(ngModel)]="end_date">
				  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
				  <mat-datepicker #endPicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Job Status' | translate }}" [(ngModel)]="job_status">
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'Management' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="management">
					    <mat-option *ngFor="let management of managements" [value]="management.id">
					      	{{management.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Job ID' | translate }}" [(ngModel)]="job_id">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'Company' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="company">
					    <mat-option *ngFor="let company of companies" [value]="company.id">				    	
					      	<img src="{{company.logo_url}}"> {{company.company_name_e}} ({{company.company_name_a}})
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div class="error-panel" *ngIf="errorMsg">
		<p>* {{ errorMsg | translate}}</p>
	</div>

	<div class="mt-3">
		  <button mat-raised-button color="primary" (click)="onSaveEmployee()">{{ 'Save' | translate }}</button>
	</div>
</div>