<div>
	<h4>
		{{ 'Project Details' | translate }}
	</h4>

	<div class="fields">
		<div class="row">
			<div class="col-6">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name' | translate }}" [(ngModel)]="name" disabled>
			    </mat-form-field>
			</div>
		</div>

		<h6>
			{{ 'Project Information' | translate }}
		</h6>

		<div class="row">
			<div class="col-6">
			    <mat-form-field>
				  <input matInput [matDatepicker]="startPicker" placeholder="{{ 'Project Start Date' | translate }}" [(ngModel)]="start_date" disabled>
				  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
				  <mat-datepicker #startPicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-6">
			    <mat-form-field>
				  <input matInput [matDatepicker]="endPicker" placeholder="{{ 'Project End Date' | translate }}" [(ngModel)]="end_date" disabled>
				  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
				  <mat-datepicker #endPicker></mat-datepicker>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Project Location' | translate }}" [(ngModel)]="location" disabled>
			    </mat-form-field>
			</div>

			<div class="col-6">
				<mat-form-field>
				  	<mat-label>{{ 'Project Engineer' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="engineer" disabled>
					    <mat-option *ngFor="let engineer of engineers" [value]="engineer.id">
					      	{{engineer.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<mat-form-field>
				  	<mat-label>{{ 'Project Owner' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="owner" disabled>
					    <mat-option *ngFor="let customer of customers" [value]="customer.id">
					      	{{customer.name_en}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-6">
				<mat-form-field>
				  	<mat-label>{{ 'Project Consultant' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="consultant" disabled>
					    <mat-option *ngFor="let consultant of consultants" [value]="consultant.id">
					      	{{consultant.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<mat-form-field>
			    	<textarea matInput placeholder="{{ 'Land Aria' | translate }}" 
			            cdkAutosizeMinRows="1"
			            cdkAutosizeMaxRows="5" [(ngModel)]="land_aria" disabled>
			        </textarea>
			    </mat-form-field>
			</div>
		</div>

		<h6>
			{{ 'Project Status' | translate }}
		</h6>
		<div class="row">
			<div class="col-6">
				<mat-form-field>
				  	<mat-label>{{ 'Project Status' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="status" disabled>
					    <mat-option *ngFor="let status of statues" [value]="status.id">
					      	{{status.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-6">
				<mat-form-field>
				  	<mat-label>{{ 'Project Stage' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="stage" disabled>
					    <mat-option *ngFor="let stage of stages" [value]="stage.id">
					      	{{stage.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<mat-form-field>
			    	<textarea matInput placeholder="{{ 'Remarks' | translate }}" 
			            cdkAutosizeMinRows="1"
			            cdkAutosizeMaxRows="5" [(ngModel)]="remarks" disabled>
			        </textarea>			    
			    </mat-form-field>
			</div>
		</div>
	</div>

</div>