.mat-form-field
{
	width: 100%;
}

.fields
{
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mat-input-element:disabled {
    color: black;
}

::ng-deep .mat-select-value-text {
  color: black !important;
}
