<div class="user-list-container mt-5" dir="{{orientation}}">
	<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

	  <!--- Note that these columns can be defined in any order.
	        The actual rendered columns are set as a property on the row definition" -->

	  <!-- Position Column -->
	  <ng-container matColumnDef="id">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'No.' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
	  </ng-container>

	  <!-- Name Column -->
	  <ng-container matColumnDef="name">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
	  </ng-container>

	  <!-- Weight Column -->
	  <ng-container matColumnDef="email">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Email' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
	  </ng-container>

	  <!-- Symbol Column -->
	  <ng-container matColumnDef="approved">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Status' | translate }} </th>
	    <td mat-cell *matCellDef="let element">
	    <p *ngIf="element.approved == 0" class="mb-0 status-declined">
	    	{{ 'Declined' | translate }}
	    </p>
	    <p *ngIf="element.approved == 1" class="mb-0 status-approved">
	    	{{ 'Approved' | translate }}
	    </p>
	  </ng-container>

	  <!-- Symbol Column -->
	  <ng-container matColumnDef="company_name_e">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Company Name' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.company_name_e}} </td>
	  </ng-container>	  

	  <!-- Symbol Column -->
	  <ng-container matColumnDef="menu">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
	    <td mat-cell *matCellDef="let element; let i = index"> 
	    	<mat-menu #appMenu="matMenu">
			  <button *ngIf="element.approved == 0" mat-menu-item (click)="onApprove(element, i)">{{ 'Approve' | translate }}</button>
			  <button *ngIf="element.approved == 1" mat-menu-item (click)="onDecline(element, i)">{{ 'Decline' | translate }}</button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="appMenu">
			  <mat-icon>more_vert</mat-icon>
			</button>
		 </td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>