<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>{{ 'Hudhud CRM' | translate }}</h1>

                <div class="form-content">
                    <div class="label_error" *ngIf="errorMessage">
                        <p class="text-left">* {{ errorMessage | translate }}</p>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Full Name' | translate }} *" [(ngModel)]="name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }} *" [(ngModel)]="email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }} *" [(ngModel)]="pwd">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Repeat Password' | translate }} *" [(ngModel)]="pwdConfirm">
                    </div>

                    <div class="text-left">
                        <section class="example-section">

                          <mat-slide-toggle
                              class="example-margin"
                              [color]="color"
                              [checked]="checked"
                              [disabled]="disabled"
                              [(ngModel)]="bIfAdmin">

                            Register As Admin?

                          </mat-slide-toggle>

                        </section>
                    </div>

                    <div class="text-left mt-5" *ngIf="!bIfAdmin">
                        <mat-label>Companies *</mat-label>
                        <br>
                        <mat-form-field>
                            <select matNativeControl [(ngModel)]="selectedCompany" name="company">
                              <option value="" selected></option>
                              <option *ngFor="let company of companies" [value]="company.id">
                                {{company.company_name_a}}
                              </option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onRegister()">{{ 'Register' | translate }}</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
        </div>
    </div>
</div>
