<div>
	<h4>
		{{ 'Vendor Edit' | translate }}
	</h4>

	<div class="fields">
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name (Arabic)' | translate }}" [(ngModel)]="name_ar">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>Type</mat-label>
				  	<mat-select [(ngModel)]="type">
					    <mat-option *ngFor="let type of types" [value]="type.id">
					      	{{type.name}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name (English)' | translate }}" [(ngModel)]="name_en">
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Phone' | translate }}" [(ngModel)]="phone">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Fax' | translate }}" [(ngModel)]="fax">
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile' | translate }}" [(ngModel)]="mobile">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Web' | translate }}" [(ngModel)]="web">
			    </mat-form-field>
			</div>
		</div>

		<h6>
			{{ 'Address' | translate }}
		</h6>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'Country' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="country">
					    <mat-option *ngFor="let country of countries" [value]="country.id">
					      	{{country.name_en}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'Province' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="province">
					    <mat-option *ngFor="let province of provinces" [value]="province.id">
					      	{{province.name_en}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
				  	<mat-label>{{ 'City' | translate }}</mat-label>
				  	<mat-select [(ngModel)]="city">
					    <mat-option *ngFor="let city of cities" [value]="city.id">
					      	{{city.name_en}}
					    </mat-option>
				  	</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Address' | translate }}" [(ngModel)]="address">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile' | translate }} 1" [(ngModel)]="mobile1">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile' | translate }} 2" [(ngModel)]="mobile2">
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Company Email' | translate }}" [(ngModel)]="company_email">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Co Representatiave' | translate }}" [(ngModel)]="co_representative">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Email' | translate }}" [(ngModel)]="email">
			    </mat-form-field>
			</div>
		</div>


		<h6>
			{{ 'Bank Acc Details' | translate }}
		</h6>

		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'iPAN No' | translate }}" [(ngModel)]="ipan_no">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Bank Acc' | translate }}" [(ngModel)]="bank_acc">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Bank' | translate }}" [(ngModel)]="bank">
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Branch' | translate }}" [(ngModel)]="branch">
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Vendor Classification' | translate }}" [(ngModel)]="vendor_classification">
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
			    <mat-form-field>
				  <input matInput [matDatepicker]="startPicker" placeholder="{{ 'First Relation Date' | translate }}" [(ngModel)]="first_relation">
				  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
				  <mat-datepicker #startPicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-4">
			    <mat-form-field>
				  <input matInput [matDatepicker]="endPicker" placeholder="{{ 'Last Relation Date' | translate }}" [(ngModel)]="last_relation">
				  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
				  <mat-datepicker #endPicker></mat-datepicker>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Remarks' | translate }}" [(ngModel)]="remarks">
			    </mat-form-field>
			</div>
		</div>
	</div>


	<div class="mt-3">
		  <button mat-raised-button color="primary" (click)="onSaveVendor()">{{ 'Save' | translate }}</button>
	</div>
</div>