<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
<!--         <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
 -->

        <div>
            <div class="divider mb-2"></div>
            <h4 class="subtitle">{{ 'Setup' | translate }}</h4>
            <a [routerLink]="['/company-setup']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fax" aria-hidden="true"></i>
                <span>{{ 'Company' | translate }}</span>
            </a>
            <a [routerLink]="['/user-setup']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>{{ 'User' | translate }}</span>
            </a>
            <a [routerLink]="['/province-setup']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-address-card" aria-hidden="true"></i>
                <span>{{ 'Address' | translate }}</span>
            </a>
            <a [routerLink]="['/vendor-setup']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>{{ 'Vendor Type' | translate }}</span>
            </a>
            <a [routerLink]="['/complaint-type-setup']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <span>{{ 'Complaint Type' | translate }}</span>
            </a>
            <a [routerLink]="['/customer-type-setup']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <span>{{ 'Customer Type' | translate }}</span>
            </a>
            <a [routerLink]="['/projects-setup']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-ravelry" aria-hidden="true"></i>
                <span>{{ 'Projects' | translate }}</span>
            </a>
        </div>

        <div>
            <div class="divider mb-2"></div>
            <h4 class="subtitle">{{ 'Management' | translate }}</h4>

            <a [routerLink]="['/customer-management']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-male" aria-hidden="true"></i>
                <span>{{ 'Customer' | translate }}</span>
            </a>

            <a [routerLink]="['/vendor-management']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-street-view" aria-hidden="true"></i>
                <span>{{ 'Vendor' | translate }}</span>
            </a>

            <a [routerLink]="['/employee-management']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span>{{ 'Employee' | translate }}</span>
            </a>

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('pages')">
                    <i class="fa fa-id-card"></i>
                    <span>{{ 'Human Resources' | translate }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'pages'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/department-management']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-industry" aria-hidden="true"></i>
                                <span>{{ 'Department' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/engineer-management']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                <span>{{ 'Engineers' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/consultant-management']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                <span>{{ 'Consultants' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>



            <a [routerLink]="['/project-management']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-sitemap" aria-hidden="true"></i>
                <span>{{ 'Projects' | translate }}</span>
            </a>

        </div>
              

<!--         <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'System Setup' | translate }}</span>
        </a>
        
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'System' | translate }}</span>
        </a> -->
        <!-- <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a>
        <a href="http://www.strapui.com/" class="list-group-item">
            <i class="fa fa-caret-down"></i>&nbsp;
            <span>{{ 'More Themes' | translate }}</span>
        </a>

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div> -->
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
