<div>
	<h4>
		{{ 'Customer Type Details' | translate }}
	</h4>
	<div>
		<mat-form-field class="w-100">
	    	<input matInput placeholder="{{ 'Customer Type Name' | translate }}" [(ngModel)]="name">
	    </mat-form-field>
	</div>

	<div class="mt-3">
		  <button mat-raised-button color="primary" (click)="onSaveCustomerType()">{{ 'Save' | translate }}</button>
	</div>
</div>