  <button mat-raised-button color="primary" (click)="onAddCompany()">{{ 'Add Company' | translate }}</button>

<div class="company-list-container mt-5">
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

	  <!--- Note that these columns can be defined in any order.
	        The actual rendered columns are set as a property on the row definition" -->

	  <!-- Position Column -->
	  <ng-container matColumnDef="id">
	    <th mat-header-cell *matHeaderCellDef> {{ 'No.' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
	  </ng-container>

	  <!-- Name Column -->
	  <ng-container matColumnDef="name_en">
	    <th mat-header-cell *matHeaderCellDef> {{ 'Name (Arabic)' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.company_name_a}} </td>
	  </ng-container>

	  <!-- Weight Column -->
	  <ng-container matColumnDef="name_ar">
	    <th mat-header-cell *matHeaderCellDef> {{ 'Name (English)' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.company_name_e}} </td>
	  </ng-container>

	  <!-- Symbol Column -->
	  <ng-container matColumnDef="logo">
	    <th mat-header-cell *matHeaderCellDef> {{ 'Logo' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> <img src="{{element.logo_url}}"> </td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>

