<div>
	<h4>
		{{ 'Customer Details' | translate }}
	</h4>

	<div class="fields" *ngIf="customer">
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name (Arabic)' | translate }}" [(ngModel)]="customer.name_ar" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Type' | translate }}" [(ngModel)]="customer.type_name" disabled>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Name (English)' | translate }}" [(ngModel)]="customer.name_en" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Phone' | translate }}" [(ngModel)]="customer.phone" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Fax' | translate }}" [(ngModel)]="customer.fax" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile' | translate }}" [(ngModel)]="customer.mobile" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Web' | translate }}" [(ngModel)]="customer.web" disabled>
			    </mat-form-field>
			</div>
		</div>

		<h6>
			{{ 'Address' | translate }}
		</h6>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
					<input matInput placeholder="{{ 'Country' | translate }}" [(ngModel)]="customer.country_name_en" disabled>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
					<input matInput placeholder="{{ 'Province' | translate }}" [(ngModel)]="customer.province_name_en" disabled>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
					<input matInput placeholder="{{ 'City' | translate }}" [(ngModel)]="customer.city_name_en" disabled>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Address' | translate }}" [(ngModel)]="customer.address" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile' | translate }} 1" [(ngModel)]="customer.mobile1" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Mobile' | translate }} 2" [(ngModel)]="customer.mobile2" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Company Email' | translate }}" [(ngModel)]="customer.company_email" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Co Representatiave' | translate }}" [(ngModel)]="customer.co_representative" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Email' | translate }}" [(ngModel)]="customer.email" disabled>
			    </mat-form-field>
			</div>
		</div>


		<h6>
			{{ 'Bank Acc Details' | translate }}
		</h6>

		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'iPAN No' | translate }}" [(ngModel)]="customer.ipan_no" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Bank Acc' | translate }}" [(ngModel)]="customer.bank_acc" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Bank' | translate }}" [(ngModel)]="customer.bank" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Branch' | translate }}" [(ngModel)]="customer.branch" disabled>
			    </mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Customer Classification' | translate }}" [(ngModel)]="customer.customer_classification" disabled>
			    </mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
			    <mat-form-field>
				  <input matInput placeholder="{{ 'First Relation Date' | translate }}" [(ngModel)]="first_relation" disabled>
				</mat-form-field>
			</div>
			<div class="col-4">
			    <mat-form-field>
				  <input matInput placeholder="{{ 'Last Relation Date' | translate }}" [(ngModel)]="last_relation" disabled>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<mat-form-field>
			    	<input matInput placeholder="{{ 'Remarks' | translate }}" [(ngModel)]="customer.remarks" disabled>
			    </mat-form-field>
			</div>
		</div>
	</div>
</div>