<button mat-raised-button color="primary" (click)="onAddVendorType()">{{ 'Add Complaint Type' | translate }}</button>

<div class="user-list-container mt-5">
	<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

	  <!--- Note that these columns can be defined in any order.
	        The actual rendered columns are set as a property on the row definition" -->

	  <!-- Position Column -->
	  <ng-container matColumnDef="id">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'No.' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
	  </ng-container>

	  <!-- Name Column -->
	  <ng-container matColumnDef="name">
	    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Name' | translate }} </th>
	    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>