<div>
	<h4>
		{{ 'Province Details' | translate }}
	</h4>
	<div>
		<mat-form-field class="w-100">
	    	<input matInput placeholder="{{ 'Name (Arabic)' | translate }}" [(ngModel)]="name_ar">
	    </mat-form-field>
	</div>

	<div>		
		<mat-form-field class="w-100">
	    	<input matInput placeholder="{{ 'Name (English)' | translate }}" [(ngModel)]="name_en">
	    </mat-form-field>
	</div>

	<div class="mt-3">
		  <button mat-raised-button color="primary" (click)="onSaveProvince()">{{ 'Save' | translate }}</button>
	</div>
</div>